body {
  font-family: Arial, sans-serif;
  background-color: rgb(48, 48, 48);
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 80%; /* Ubah nilai width */
  margin: 0 auto; /* Tambahkan ini untuk membuatnya berada di tengah */
}

.todo-app {
  width: 400px;
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.todo-app h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 250%;
  text-align: center;
  color: #ffffff;
  font-weight: bold; /* Menjadikan teks menjadi tebal */
}

.input-section {
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  margin-bottom: 10px;
}

.input-container input[type="text"] {
  flex-grow: 1;
  padding: 12px;
  border: 2px solid #555;
  border-radius: 15px;
  margin-right: 10px;
  background-color: #222;
  color: #fff;
}

.input-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.todos {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
}

.todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative; /* Tambahkan posisi relatif untuk menyimpan tombol hapus */
}

.todo-item.completed {
  text-decoration: line-through;
}

.todo-item input[type="checkbox"] {
  margin-right: 10px;
}

.delete-button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #dc3545;
  color: #fff;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.filter-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #797878d6;
  color: #fff;
  cursor: pointer;
  margin-bottom: 20px; /* Menambahkan jarak dari bawah */
  margin-top: 20px; /* Menambahkan jarak dari atas */
}
